<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cannubis Store</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <header id="header">
    <div class="nav-container">
      <div class="nav-izquierda">
        <h1>Grow Shop Online</h1>
      </div>
      <div class="nav-derecha">
        <nav>
          <ul class="nav-menu">
            <li><a href="javascript:void(0);" onclick="scrollToTop()">Inicio</a></li>
            <li><a href="/productos">Productos</a></li>
            <li><a href="/nosotros">Nosotros</a></li>
            <li><a href="/contacto">Contacto</a></li>
          </ul>
        </nav>
      </div>  
    </div>
  </header>
</body>
</html>