/* src/componentes/Encabezado.css */

.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
  }
  
  .logo img {
    width: 100px; /* Ajusta el tamaño de tu logo según lo necesites */
  }
  
  .buscar input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .medios-de-pago button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  